/******
Reset
******/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif ;
}

/******
Header
******/

header {
    padding-top: 17px;
    background-color: #255ee8;
}

nav{
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    vertical-align:bottom;
    justify-content: center;
}

.link {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    padding: 9px;
    gap: 40px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: #FFFFFF;
}

.login {
    text-align: right;
    padding-top: 8px;
}

h1 {
    padding-bottom: 50px;
}

/******
Container
******/

.container {
    width: 900px;
    margin: 0 auto;
    display: flex;
}

.second-container-header{
    width: 700px;
    margin: 0 auto;
    height: 390px;
    padding: 70px;
    text-align: center;
    color: #FFFFFF;
}

.button-login {
    width: 70px;
    height: 25px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    color: #000000 ;
    padding: 3px 10px ;
    background-color: #FFFFFF;
}

.button-download {
    width: 150px;
    height: 35px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    color: #000000 ;
    padding: 7px 10px ;
    background-color: #FFFFFF;
}

.button-open {
    width: 250px;
    height: 35px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    color: #FFFFFF ;
    padding: 7px 10px ;
    background-color: #23272a;
}

.button-header {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-download-last {
    width: 150px;
    height: 35px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    color: #FFFFFF ;
    padding: 7px 10px ;
    background-color: #7288da;
    margin: 0 auto;
}

/******
Utilities
******/
.bg-blue {
    background-color: #00008b;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-grey {
    background-color: #d3d3d3;
}

.bg-green {
    background-color: #228b22;
}

.bg-black {
   background-color: #23272a;
}

.title {
    font-size: 30px;
}

.title-section {
    font-size: 40px;
    font-weight: bold;
}

.subtitle-section {
    padding-top: 20px;
}

.description {
    margin: 0 auto;
    width: 500px;
}

.title-list {
    color: #7288da;
}

div > ul {
    list-style-type: none;
    color: #FFFFFF;
}

ul > li {
    padding: 10px;
}
/******
Section
******/
section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.large-box {
    width: 600px;
    height: 390px;
    flex-grow: 2;
    flex-shrink: 0;
}

.small-box {
    display: inline-block;
    flex-grow: 1;
    padding-top: 30px;
}

.giant-box {
    height: 890px;
    flex-grow: 1;
}


/******
Footer
******/

footer section:first-child{
    padding-top: 5px;
} 

.small-footer-box {
    flex-grow: 1;
}

.large-footer-box {
    display: flex;
    flex-grow: 2;
    height: 390px;
}

.division-box-footer{
    flex-grow: 1;
}

.nav-footer{
    display: flex;
    padding: 24px 0 24px 0;
    justify-content: space-between;
}

.logo-footer {
    width: 100px;
    background-image: url("../img/logo.svg");
    background-size: 90px ;
    background-repeat: no-repeat;
    padding: 2px;
}

.button-footer {
    width: 100px;
    height: 25px;
    border: 0;
    font-size: 15px;
    border-radius: 20px;
    color: #FFFFFF ;
    padding: 3px 10px ;
    background-color: #7288da;
}

.last-border {
    padding-top: 30px;
    padding-bottom: 0px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.text-flag {
    padding: 20px 0;
    color: #FFFFFF;
}

.icon {
    color: #FFFFFF;
}

div.container.nav-footer {
    border-top: 1px solid #7288da;
}

/******
Image
******/

.start-image {
    background-image: url("../img/jumbo.png");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}

.item1-image {
    background-image: url("../img/item1.svg");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}

.item2-image {
    background-image: url("../img/item2.svg");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}

.item3-image {
    background-image: url("../img/item3.svg");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}

.stars-image {
    background-image: url("../img/stars.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

img.flag {
    width: 30px;
    background-repeat: no-repeat;
}